@model project3_Code.Models.User
@{
    ViewBag.Title = "pEdit";
}

@{ 
    if(ViewBag.Error != null)
    {

    }
}

<!DOCTYPE html>
<html>

<head>
    <title>personal edit</title>

    <link href="~/Content/User/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="~/Content/User/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="~/Content/User/css/animate.css" rel="stylesheet">
    <link href="~/Content/User/css/style.css?v=4.1.0" rel="stylesheet">

</head>

<body class="gray-bg">
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>personal messages edit</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="commentForm" method="post">

                        <input type="hidden" name="UserName" value="@Model.UserName" />
                        @if (ViewBag.ErrorMessage != null || ViewBag.ErrorMessage != "")
                        {
                            <div class="form-group">
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-8">
                                    <span style="color:red">@ViewBag.ErrorMessage</span>
                                </div>
                            </div>
                        }
                        <div class="form-group">
                            <label class="col-sm-3 control-label">UserName：</label>
                            <div class="col-sm-8">
                                <label class="col-sm-3 control-label">@Model.UserName</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Last name：</label>
                            <div class="col-sm-8">
                                <input name="GName" type="text" value="@Model.GName" class="form-control" aria-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Family name：</label>
                            <div class="col-sm-8">
                                <input name="SName" type="text" value="@Model.SName" class="form-control" aria-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Street address：</label>
                            <div class="col-sm-8">
                                <input name="Address" type="text" value="@Model.Address" class="form-control" aria-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">State or region：</label>
                            <div class="col-sm-8">
                                <input name="State" type="text" value="@Model.State" class="form-control" aria-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Zip code：</label>
                            <div class="col-sm-8">
                                <input name="PostCode" type="text" value="@Model.PostCode" class="form-control" aria-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Telephone：</label>
                            <div class="col-sm-8">
                                <input name="Mobile" type="text" value="@Model.Mobile" class="form-control" aria-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/User/js/jquery.min.js?v=2.1.4"></script>
    <script src="~/Content/User/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="~/Content/User/js/content.js?v=1.0.0"></script>
    <script src="~/Content/User/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="~/Content/User/js/demo/form-validate-demo.js"></script>
</body>

</html>


