@model Bicytal.Models.User
@{
    ViewBag.Title = "pDetail";
}


<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>personal details</title>

    <link href="~/Content/User/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="~/Content/User/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="~/Content/User/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/Content/User/css/animate.css" rel="stylesheet">
    <link href="~/Content/User/css/style.css?v=4.1.0" rel="stylesheet">

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>personal details</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Username：</td>
                                    <td>@Model.UserName</td>
                                </tr>
                                <tr>
                                    <td>Family name：</td>
                                    <td>@Model.GName</td>
                                </tr>
                                <tr>
                                    <td>Last name：</td>
                                    <td>@Model.SName</td>
                                </tr>
                                <tr>
                                    <td>Street address：</td>
                                    <td>@Model.Address</td>
                                </tr>
                                <tr>
                                    <td>State or region：</td>
                                    <td>@Model.State</td>
                                </tr>
                                <tr>
                                    <td>Zip code：</td>
                                    <td>@Model.PostCode</td>
                                </tr>
                                <tr>
                                    <td>Telephone：</td>
                                    <td>@Model.Mobile</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                        <button class="btn btn-primary" onclick="window.location.href='/Users/pEdit'">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/User/js/jquery.min.js?v=2.1.4"></script>
    <script src="~/Content/User/js/bootstrap.min.js?v=3.3.6"></script>

    <script src="~/Content/User/js/plugins/peity/jquery.peity.min.js"></script>

    <script src="~/Content/User/js/content.js?v=1.0.0"></script>

    <script src="~/Content/User/js/plugins/iCheck/icheck.min.js"></script>

    <script src="~/Content/User/js/demo/peity-demo.js"></script>

    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
</body>

</html>


