@model Ticket.Models.Permit

@{
    ViewBag.Title = "ConfirmMake";
}
<link href="~/Content/css/Make_purchase.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    <input type="hidden" name="permitType" value="@ViewBag.permitData.Type" />
    <input type="hidden" name="priceType" value="@ViewBag.priceType" />
    <div id="wrap">
        <div id="Personal_details">
            <h2>Personal Details</h2>
            <table>
                <tr class="box1">
                    <th>Username：</th>
                    <td>@ViewBag.userData.UserName</td>
                </tr> 
                <tr>
                    <th>Family name：</th>
                    <td>@ViewBag.userData.GName</td>
                </tr>
                <tr class="box1">
                    <th>Last name：</th>
                    <td>@ViewBag.userData.SName</td>
                </tr>
                <tr>
                    <th>Street address：</th>
                    <td>@ViewBag.userData.Address</td>
                </tr>

                <tr class="box1">
                    <th>State or region：</th>
                    <td>@ViewBag.userData.State</td>
                </tr>
                <tr>
                    <th>Zip code：</th>
                    <td>@ViewBag.userData.PostCode</td>
                </tr>
                <tr class="box1">
                    <th>Telephone：</th>
                    <td>@ViewBag.userData.Mobile</td>
                </tr>
            </table>
        </div>
        <div id="Ticket_information">
            <h2>Ticket Information</h2>
            <table>
                <tr class="box1">
                    <th>Models：</th>
                    <td>@ViewBag.permitData.Type</td>
                </tr>
                <tr>
                    <th>Description：</th>
                    <td>@ViewBag.permitData.Description</td>
                </tr>
            </table>
        </div>
        <div id="Price">
            <h2>Price</h2>
            <table>
                <tr class="box1">
                    <th>Price</th>
                    @{
                        var priceType = @ViewBag.priceType;
                    }
                    @if (priceType == 0)
                    {
                        <td>@ViewBag.permitData.Quarter_price</td>
                    }

                    @if (priceType == 1)
                    {
                        <td>@ViewBag.permitData.HalfYear_price</td>
                    }

                    @if (priceType == 2)
                    {
                        <td>@ViewBag.permitData.Year_price</td>
                    }
                    
                </tr>
            </table>
        </div>
        <div class="pay">
            <button>
                <span><input type="submit" value="Payment" /> </span>
            </button>
        </div>

    </div>
}