@model Ticket.Models.Purchase

@{
    ViewBag.Title = "MyPurchasesDetail";
}
<link href="~/Content/css/PersonalDetails.css" rel="stylesheet" />

<div id="head">
    <div class="head_portrait">
        <img src="~/Content/img/7.jpg" width="150px" height="150px" />
    </div>
    <div class="operation">
        <ul>
            <li>
                <img class="img1" src="~/Content/img/ooopic_1473567040.png" width="10px" height="10px" />
                <a href="#">Modify personal data</a>
            </li>
            <li>
                <img class="img2" src="~/Content/img/ooopic_1473567033.png" width="10px" height="10px" />
                <a href="PersonalDetails.html">View details</a>
            </li>
            <li>
                <img class="img1" src="~/Content/img/ooopic_1473567187.png" width="10px" height="10px" />
                <a href="/Users/MyPurchases">Purchase records</a>
            </li>
        </ul>
    </div>
</div>
<div id="content">
    <div class="nav">
        <h2>My trade</h2>
        <ul>
            <li><a href="#PurchaseHistory">Purchase History</a></li>
            <li><img src="~/Content/img/ooopic_1473570467.png" /></li>
        </ul>
        <div>
        </div>
        <div id="PurchaseHistory">
            <h1>Purchase history details</h1>
            <button class="back"><a href="/Users/MyPurchases">back</a></button>
            <table>
                <tr class="box1">
                    <th>Models:</th>
                    <td>@Html.DisplayFor(model => model.Type.Type)</td>
                </tr>
                <tr>
                    <th>Username:</th>
                    <td>@Html.DisplayFor(model => model.UserName.UserName)</td>
                </tr>
                <tr class="box1">
                    <th>Effective date：</th>
                    <td>@Html.DisplayFor(model => model.StartDate)</td>
                </tr>
                <tr>
                    <th>Effective time length:</th>
                    <td>@Html.DisplayFor(model => model.Duration)</td>
                </tr>
                <tr class="box1">
                    <th>Price:</th>
                    <td>@Html.DisplayFor(model => model.Cost)</td>
                </tr>
                <tr>
                    <th>Time buying</th>
                    <td>@Html.DisplayFor(model => model.PTime)</td>
                </tr>
            </table>
        </div>
    </div>